.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  
  gap: 1.5rem;
}

.home-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;

  gap: 1.5rem;
}

.home-item h2 {
  font-size: var(--font-size-lg);
}

.home-item-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

/* pagina de cadastro (estilo geral) */
.cadastrar-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 100%;

  gap: 1.5rem;
}

.cadastrar-page h2 {
  font-size: var(--font-size-xl);
  text-align: center;
}

.cadastrar-page-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  
  gap: 1rem;
}

.cadastrar-page-item .header {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  
  gap: 1.5rem;
}

.cadastrar-page-item .header h3 {
  font-size: var(--font-size-lg);
}

.cadastrar-page-item .header button {
  height: 2rem;
}

.cadastrar-page-item .content {
  display: flex;
  gap: 1rem;
}

.cadastrar-page-item .content button {
  margin-top: 2rem;
}

/* pagina de listagem (estilo geral) */
.listar-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 100%;

  gap: 1.5rem;
}

.listar-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  
  gap: 1.5rem;
}

.listar-page .header h2 {
  font-size: var(--font-size-xl);
}

.listar-page .form {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.listar-page .form button {
  line-height: 100%;
}